div.step3-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: white, $alpha: 0.6);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic circle {
  stroke: #07919B !important;
}

p.step3-text {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 0 0;
  text-align: center;
}




.wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
}

.enrich {
  padding: 20px;
  background-color: #fff;
  border: 1px #dadada solid;
  position: relative;
  min-width: 550px;
  margin-bottom: 100px;

  h1 {
    margin-bottom: 40px;
  }

  &-btn {
    margin-top: 40px;
    border: none;
    padding: 10px 20px;
    background-color: #07919B;
    color: white;
    font-size: 24px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
  }

  &-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 16px 0;

    textarea, input:not([type='checkbox']) {
      padding: 10px 12px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      flex: 1;
    }

    span {
      display: inline-block;
      width: 165px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
  }
}
