<main class="page">
  <header class="page-header">
    <div class="page-header-top">
      <p><mat-icon>local_shipping</mat-icon>FREE shipping in the Czech Republic over 1500 CZK</p>
    </div>

    <div class="page-header-nav">
      <div class="page-header-nav-contacts">
        <div class="page-header-nav-contacts-item">
          <mat-icon>phone_in_talk</mat-icon>
          <span>+420 776 345 933</span>
        </div>

        <div class="page-header-nav-contacts-item">
          <mat-icon>mail_outline</mat-icon>
          <span>sales@elvix.cz</span>
        </div>
      </div>

      <div class="page-header-nav-info">
        <span>{{ 'Shipping and payment'.toLocaleUpperCase() }}</span>
        <span class="divider">|</span>
        <span>{{ 'Loyalty program'.toLocaleUpperCase() }}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

      <div class="page-header-nav-prefs">
        <div class="page-header-nav-prefs-item page-header-nav-prefs-item-active">
          <span>CZK</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>

        <div class="page-header-nav-prefs-item page-header-nav-prefs-item-active">
          <span>Czech</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>

        <div class="page-header-nav-prefs-item">
          <span>Login</span>
        </div>
      </div>
    </div>

    <div class="page-header-main">
      <img class="page-header-main-logo" src="logo.svg">

      <div class="page-header-main-search">
        <input class="page-header-main-search-input" placeholder="Write what you are looking for">
        <button class="page-header-main-search-btn">SEARCH</button>
      </div>

      <div class="page-header-main-cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Empty cart</span>
      </div>
    </div>
  </header>

  <article>
    <div class="page-header-categories">
      <div class="page-header-categories-bar">
        <span class="page-header-categories-bar-item" *ngFor="let item of navItems">{{ item }}</span>
        <button type="button" class="page-header-categories-bar-menu"><mat-icon>menu</mat-icon></button>
      </div>
    </div>

    <div class="page-header-path">
      <mat-icon>home</mat-icon>
      <span class="page-header-path-item" *ngFor="let item of breadcrumbs">{{ item }} <mat-icon>keyboard_arrow_right</mat-icon></span>
    </div>

    <div class="page-body">
      <div class="page-body-side">
        <h3>CATEGORY</h3>

        <p *ngFor="let item of categories">+&nbsp;&nbsp;&nbsp;&nbsp;{{ item }}</p>
      </div>
      <div class="page-body-main">
        <h1>Kingston 128GB SD card</h1>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <span class="page-body-main-data">Not rated&nbsp;&nbsp;|&nbsp;&nbsp;Brand: Kingston&nbsp;&nbsp;|&nbsp;&nbsp;Code: 11549</span><br><br>

        <div class="page-body-main-product">
          <div class="page-body-main-product-left">
            <img src="product.png" height="400px" width="400px">
          </div>

          <div class="page-body-main-product-right">
            <h2>223 CZK</h2>
            <p>184 CZK excluding VAT</p>
            <h3><span>In stock</span> (>20 pcs)</h3>
            <p>We can deliver to: 10.10.2025</p>
            <div class="page-body-main-product-right-cart">
              <input type="text" class="page-body-main-product-right-cart-input" value="1"/>
              <div class="page-body-main-product-right-cart-input-arrows">
                <button><mat-icon>keyboard_arrow_up</mat-icon></button>
                <button><mat-icon>keyboard_arrow_down</mat-icon></button>
              </div>
              <button type="button" class="page-body-main-product-right-cart-btn"><mat-icon>keyboard_arrow_right</mat-icon><span>Add to cart</span></button>
            </div>

            <p class="details">Detailed information <mat-icon>keyboard_arrow_down</mat-icon></p>

            <div class="page-body-main-product-right-actions">
              <div class="page-body-main-product-right-actions-item">
                <mat-icon>chat_bubble_outline</mat-icon>
                <button type="button" class="ask">ASK FOR PRODUCT</button>
              </div>
              <div class="page-body-main-product-right-actions-item">
                <mat-icon>stacked_bar_chart</mat-icon>
                <button type="button" class="watch">WATCH</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div *ngIf="showCase1" class="overlay">
    <div class="form form1">
      <mat-icon class="close">close</mat-icon>

      <h1 class="form1-title">Inquiry to the seller</h1>
      <p class="form1-desc">Fields marked with <span class="red">*</span> must be filled in.</p>

      <div class="form1-row">
        <p class="form1-label">Your email <span class="red">*</span></p>
        <input class="form1-input">
      </div>

      <div class="form1-row">
        <p class="form1-label">Phone</p>
        <input class="form1-input">
      </div>

      <div class="form1-area">
        <p class="form1-label">Message <span class="red">*</span></p>
        <textarea rows="7" class="form1-area-text"></textarea>
      </div>

      <p class="form1-desc">By submitting a message, you agree to <span class="underline">the privacy policy</span></p>
      <button class="send" type="button">SEND</button>
    </div>
  </div>
</main>
