<app-enrich (close)="goBack1($event)" *ngIf="step2" />

<main class="page" *ngIf="!step2">
  <header class="page-header">
    <div class="page-header-top">
      <p><mat-icon>local_shipping</mat-icon>FREE shipping in the Czech Republic over 1500 CZK</p>
    </div>

    <div class="page-header-nav">
      <div class="page-header-nav-contacts">
        <div class="page-header-nav-contacts-item">
          <mat-icon>phone_in_talk</mat-icon>
          <span>+420 776 345 933</span>
        </div>

        <div class="page-header-nav-contacts-item">
          <mat-icon>mail_outline</mat-icon>
          <span>sales@elvix.cz</span>
        </div>
      </div>

      <div class="page-header-nav-info">
        <span>{{ 'Shipping and payment'.toLocaleUpperCase() }}</span>
        <span class="divider">|</span>
        <span>{{ 'Loyalty program'.toLocaleUpperCase() }}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

      <div class="page-header-nav-prefs">
        <div class="page-header-nav-prefs-item page-header-nav-prefs-item-active">
          <span>CZK</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>

        <div class="page-header-nav-prefs-item page-header-nav-prefs-item-active">
          <span>Czech</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>

        <div class="page-header-nav-prefs-item">
          <span>Login</span>
        </div>
      </div>
    </div>

    <div class="page-header-main">
      <img class="page-header-main-logo" src="logo.svg">

      <div class="page-header-main-search">
        <input value="Central Screen Tempered Glass & Frame Cover for Tesla Model Y Juniper" class="page-header-main-search-input" placeholder="Write what you are looking for">
        <button class="page-header-main-search-btn" (click)="toggleCase3(true)">SEARCH</button>
      </div>

      <div class="page-header-main-cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Empty cart</span>
      </div>
    </div>
  </header>

  <article>
    <div class="page-header-categories">
      <div class="page-header-categories-bar">
        <span class="page-header-categories-bar-item" *ngFor="let item of navItems">{{ item }}</span>
        <button type="button" class="page-header-categories-bar-menu"><mat-icon>menu</mat-icon></button>
      </div>
    </div>

    <div class="page-header-path">
      <mat-icon>home</mat-icon>
      <ng-container *ngIf="!showCase3">
      <span class="page-header-path-item" *ngFor="let item of breadcrumbs">{{ item }} <mat-icon>keyboard_arrow_right</mat-icon></span>
      </ng-container>

      <ng-container *ngIf="showCase3">
      <span class="page-header-path-item" *ngFor="let item of ['Search']">{{ item }} <mat-icon>keyboard_arrow_right</mat-icon></span>
      </ng-container>
    </div>

    <div class="case3" *ngIf="showCase3">
      <h1 class="search-results">Search results</h1>
      <p class="not-found">No products were found</p>

      <div class="form form3">
        <h2 class="form3-title">Didn't find what you need?</h2>
        <p class="form3-desc">Let us know, and we will work to get it for you!</p>
        <textarea [(ngModel)]="message3" placeholder="Provide a link to the product webpage or write the brand and model name" rows="4"></textarea>
        <input [(ngModel)]="email3" class="form3-input" placeholder="Your email">
        <button type="button" class="form3-btn" (click)="toggleCase3(false)">Send request</button>
      </div>
    </div>

    <div class="page-body" *ngIf="!showCase3">
      <div class="page-body-side">
        <h3>CATEGORY</h3>

        <p *ngFor="let item of categories">+&nbsp;&nbsp;&nbsp;&nbsp;{{ item }}</p>
      </div>
      <div class="page-body-main">
        <h1>Kingston 128GB SD card</h1>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <mat-icon>star_outline</mat-icon>
        <span class="page-body-main-data">Not rated&nbsp;&nbsp;|&nbsp;&nbsp;Brand: Kingston&nbsp;&nbsp;|&nbsp;&nbsp;Code: 11549</span><br><br>

        <div class="page-body-main-product">
          <div class="page-body-main-product-left">
            <img src="product.png" height="400px" width="400px">
          </div>

          <div class="page-body-main-product-right">
            <h2>223 CZK</h2>
            <p>184 CZK excluding VAT</p>
            <h3><span>In stock</span> (>20 pcs)</h3>
            <p>We can deliver to: 10.10.2025</p>
            <div class="page-body-main-product-right-cart">
              <input type="text" class="page-body-main-product-right-cart-input" value="1"/>
              <div class="page-body-main-product-right-cart-input-arrows">
                <button><mat-icon>keyboard_arrow_up</mat-icon></button>
                <button><mat-icon>keyboard_arrow_down</mat-icon></button>
              </div>
              <button type="button" class="page-body-main-product-right-cart-btn"><mat-icon>keyboard_arrow_right</mat-icon><span>Add to cart</span></button>
            </div>

            <p class="details">Detailed information <mat-icon>keyboard_arrow_down</mat-icon></p>

            <div class="page-body-main-product-right-actions">
              <div class="page-body-main-product-right-actions-item">
                <mat-icon>chat_bubble_outline</mat-icon>
                <button type="button" (click)="toggleCase1(true)" class="ask">ASK FOR PRODUCT</button>
              </div>
              <div class="page-body-main-product-right-actions-item">
                <mat-icon>stacked_bar_chart</mat-icon>
                <button type="button" (click)="toggleCase2(true)" class="watch">WATCH</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div *ngIf="showCase1" class="overlay">
    <div class="form form1">
      <mat-icon class="close">close</mat-icon>

      <h1 class="form1-title">Inquiry to the seller</h1>
      <p class="form1-desc">Fields marked with <span class="red">*</span> must be filled in.</p>

      <div class="form1-row">
        <p class="form1-label">Your email <span class="red">*</span></p>
        <input class="form1-input" [(ngModel)]="email1">
      </div>

      <div class="form1-row">
        <p class="form1-label">Phone</p>
        <input class="form1-input" [(ngModel)]="phone1">
      </div>

      <div class="form1-area">
        <p class="form1-label">Message <span class="red">*</span></p>
        <textarea [(ngModel)]="message1" rows="7" class="form1-area-text"></textarea>
      </div>

      <p class="form1-desc">By submitting a message, you agree to <span class="underline">the privacy policy</span></p>
      <button class="send" (click)="toggleCase1(false)" type="button">SEND</button>
    </div>
  </div>

  <div *ngIf="showCase2" class="overlay">
    <div class="form form2">
      <mat-icon class="close">close</mat-icon>

      <h1 class="form2-title"><b>Notify me</b> when the product</h1>

      <div class="form2-row">
        <input [(ngModel)]="willStock" type="checkbox">
        <span>will be in stock</span>
      </div>

      <div class="form2-row">
        <input [(ngModel)]="willAction" type="checkbox">
        <span>will be in action</span>
      </div>

      <div class="form2-row">
        <input type="checkbox">
        <span>the price will drop below</span>
        <input [(ngModel)]="belowPrice" class="price" type="text">
        <span>CZK</span>
      </div>

      <div class="form2-row">
        <span>Send notification to <span class="red">*</span></span>
        <input [(ngModel)]="email2" class="email" type="text" placeholder="Email address (e.g. jan@novak.cz)">
      </div>

      <p class="form2-desc">I acknowledge that the address will be processed for the purpose of informing about the availability of the product, or about replacement with another product, etc., in accordance with the personal data processing principles available on this page.</p>
      <button class="send" (click)="toggleCase2(false)" type="button">IMPOSE</button>
    </div>
  </div>
</main>

<ng-container *ngIf="showModal">
  <div class="m-overlay">
    <div class="m-window">
      <h1>Elvix AI Enrichment Demo</h1>
      <input [formControl]="oaiToken" type="text" placeholder="Enter your OpenAI Token">
      <button (click)="setOAIToken()" mat-raised-button [disabled]="!oaiToken.valid" type="button">OK</button>
    </div>
  </div>
</ng-container>
